* {
    margin: 0;
	padding: 0;
	border: 0;
}

.leftCol {
    background-color: cadetblue;
    width: 70%;
    float: left;
}

.rightCol {
    background-color: chartreuse;
    float: right;
    width: 30%;
}

.imageHolder {
    display: flex;
    justify-content: center;
}

.image{
    max-width: 30vw;
}

.image:hover {
    border-radius: 50%;
}

@media only screen and (max-width: 700px){
    .rightCol{
        background-color: cyan;
        float: none;
        width: 100%;
    }
    .leftCol{
        width: 100%;
    }
}